<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <i class="fa fa-bars"></i>
            </button>
            <!-- <a class="navbar-brand page-scroll" href="#page-top">
                <i class="fa fa-play-circle"></i>  <span class="light">Start</span> Bootstrap
            </a> -->
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav">
                <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                  <%= link_to "All Cities", cities_path %>
                </li>
                <li>
                  <%= link_to "Home", root_path %>
                </li>
                <li>
                  <%= link_to "About", about_path %>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<h1><%=@city.location %></h1>
<h2> Current Weather Status: <%=@city.description %></h2>

<p class="city">
  <%= image_tag(@city.weather_status.downcase == "mist" || @city.weather_status.downcase == "rain" ? @city.rain_image_url : @city.sun_image_url,
  class: "img-responsive thumbnail") %>
</p>


<% if @city.open_weather_city_id == "2643743" %>
  <iframe width="480" height="270" src="http://www.ustream.tv/embed/1041782?html5ui" scrolling="no" allowfullscreen webkitallowfullscreen frameborder="0" style="border: 0 none transparent;"></iframe><a href="http://www.ustream.tv/" title="Live stream software by Ustream" style="padding: 2px 0px 4px; width: 400px; background: #ffffff; display: block; color: #000000; font-weight: normal; font-size: 10px; text-decoration: underline; text-align: left;" target="_blank">Live Stream Software</a>
<% end -%>

<% if @city.open_weather_city_id == "1818209" %>
  <a name="lkr-timelapse-player" data-id="1179240123" data-play="day" href="https://www.lookr.com/lookout/1179240123-Hong-Kong#action-play-day" target="_blank">Hong Kong: Downtown live webcam in China &mdash; Play 24 hours</a><script async type="text/javascript" src="https://api.lookr.com/embed/script/timelapse.js"></script>
<% end -%>
